@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: "Russo One";
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}